{% extends "medicamentos/base_medicamentos1.html" %}
{% block title %}Productos{% endblock title %}
{% block content %}
{% include "nav.html" %}
{% block producto %}  
    <div class="wrapper"> 
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>            
            Compras
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'compras_app:lista_compras' %}">Compras</a></li>
            <li class="active">Data tables</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">

                <div class="box box-primary">
                  <div class="box-header with-border">
                    <div class="box-tools pull-right">
                      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                  </div><!-- /.box-header -->
                  <div class="box-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Generar Reportes</h3>
                            </div>
                            <div class="panel-body">           
                            <div class="row">
                               <div class="col-md-8">
                                <form action="." method="POST">                    
                                      <hr>
                                      {%csrf_token%}
                                      {%if error%}
                                          <h3>{{error}}</h3>
                                      {%endif%}
                                     <div class="form-group has-success has-feedback  {% if form.fecha_i.errors %} has-error {% endif %}">
                                          <label class="col-md-6 control-label" for="Date">Fecha Inicial</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                {{ rangoform.fecha_i }}
                                            </div>
                                        </div>
                                     </div>

                                     <div class="form-group has-success has-feedback  {% if form.fecha_f.errors %} has-error {% endif %}">
                                          <label class="col-md-6 control-label" for="Date">Fecha Final</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                {{ rangoform.fecha_f }}
                                            </div>
                                        </div>
                                        {{vendedor}}
                                     </div>
                                    
                                      <div class="pull-right">
                                          <div class="btn-group">
                                          <button type="submit" class="btn btn-lg btn-info"><i class="fa fa-floppy-o"></i>Generar Reporte</button>
                                      </div>
                                      </div> 
                                </form>
                                </div><!-- col-md-6 -->
                                <div class="col-md-4">
                                <form class="well" action="." method="POST">                    
                                     <p>OBSERVACIONES</p>                        
                                  </form>
                                </div><!-- col-md-6 -->
                            </div><!-- /row -->
                          </div>
                    </div>
                  </div>

              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">


{% include "footer.html" %}    
 {% endblock producto %}
{% endblock content %}


