{% extends "base.html" %}

{% block content %}
    <h1>Agregar Factura</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fecha.label }}<br>
            {{ form.fecha(size=50) }}<br>
            {% for error in form.fecha.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tipoPago.label }}<br>
            {{ form.tipoPago }}<br>
            {% for error in form.tipoPago.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}