{% extends "base.html" %}

{% block content %}
    <h1>Esta es la lista de productos:</h1>
    <table style="margin: 10px; padding: 10px;">
        <tr style="font-weight: bold;">
            <td style="padding-right: 50px;">Nombre</td>
            <td style="padding-right: 20px;">Stock</td>
            <td style="padding-right: 20px;">Precio</td>
        </tr>
        {% for item in productos %}     
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.stock }}</td>
            <td style="text-align: right;">{{ item.precio }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}