asgiref==3.2.10
atomicwrites==1.4.0
attrs==20.2.0
colorama==0.4.3
coverage==5.2.1
Django==3.1.1
django-mock-queries==2.1.5
djangorestframework==3.11.1
importlib-metadata==1.7.0
iniconfig==1.0.1
mock==4.0.2
model-bakery==1.0.2
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.6
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov==2.10.1
pytest-django==3.9.0
pytest-mock==3.3.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
zipp==3.1.0
