{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block pageHeader %}
Inicio
{% endblock pageHeader %}
{% block pageActive %}
Inicio
{% endblock pageActive %}
{% block content %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12">
            {% comment %} <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> {% endcomment %}


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> SocialPedidos, Inc.
                    <small class="float-right">Date: <label id="lblFecha">{fecha}</label></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <b>Cliente</b>
                  <a href="#" id="addCliente" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Cliente</a>
                  <address id="addressCliente" style="display: none;">
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Transportista</b>
                  <a href="#" id="addTrasportista" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Transportista</a>
                  <address id="addressTransportista" style="display: none;">
                    
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Pedido</b><br>
                  <a href="#" id="addProducto" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Producto</a>
                  {% comment %} <br>
                  <b>Order ID:</b> 4F3S8J<br>
                  <b>Payment Due:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567 {% endcomment %}
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table id="table"></table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Payment Methods:</p>
                  <img src="{% static 'admin-lte/dist/img/credit/visa.png'%}" alt="Visa">
                  <img src="{% static 'admin-lte/dist/img/credit/mastercard.png'%}" alt="Mastercard">
                  <img src="{% static 'admin-lte/dist/img/credit/american-express.png'%}" alt="American Express">
                  <img src="{% static 'admin-lte/dist/img/credit/paypal2.png'%}" alt="Paypal">

                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead">Amount Due 2/22/2014</p>

                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td><label id="subtotal"></label></td>
                      </tr>
                      <tr>
                        <th>IGV (18%)</th>
                        <td><label id="igv"></label></td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td><label id= "total"></label></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <button type="button" id="sendPedido" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->

{% endblock content %}
{% block scripts %}
<script>
{% if clientes %}
clientes = [];

    {% for cliente in clientes %}
        cliente = {};
        cliente.id = {{cliente.id}};
        cliente.nombres = "{{cliente.nombres}}";
        cliente.apellidos = "{{clientes.apellidos}}"
        cliente.documento = "{{cliente.documento}}"
        cliente.direccion = "{{cliente.direccion}}"
        cliente.email = "{{cliente.email}}"
        cliente.telefono = "{{cliente.telefono}}"
        clientes.push(cliente);
    {% endfor %}
 

{%if productos%}
Productos = [];
  {%for objProducto in productos%}
    Producto = {};
    Producto.id = {{objProducto.id}}
    Producto.nombre = "{{objProducto.nombre}}"
    {%if objProducto.igv%}
      Producto.igv = true
    {%else%}
    Producto.igv = false
    {%endif%}
     
    Producto.costo = {{objProducto.costo}}
    Productos.push(Producto)
    {%endfor%}
{%endif%}
var today = new Date();
var fecha = today.toISOString().substring(0, 10);
$("#lblFecha").text(fecha);
{% else %}
    <p>No polls are available.</p>
{% endif %}
</script>
<script src="{% static 'pdds/js/sweetalert2.js'%}"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script src="{% static 'pdds/js/pdds.js'%}"></script>
{% endblock scripts %}
{% block styles %}
<link rel="stylesheet" href="{% static 'pdds/css/sweetalert2.css'%}">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
{% endblock styles %}
