{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>FarmaciaPedidos | {% block titulo %} {% endblock titulo %}</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'authenticate/css/styles.css'%}">
<!------ Include the above in your HEAD tag ---------->
{% block styles %}
{% endblock styles %}
</head>
<body class="hold-transition sidebar-mini">
    <div class="content">
      {% block content%}
      {% endblock %}
    </div>


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block scripts %}
{% endblock scripts %}
</body>
</html>
