{% extends 'base/auth.html' %}
{% load static %}
{% block titulo %}
Login
{% endblock titulo %}
{% block pageHeader %}
Login
{% endblock pageHeader %}
{% block pageActive %}
Login
{% endblock pageActive %}
{% block content %}
<header>
    <div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div class="logo">COMPRAS</div>
		</div>
		<div class="col-sm-6 hidden-xs">
    <form method="POST" action="{% url 'login' %}">{% csrf_token %}
			<div class="row">
				<div class="col-sm-5">
					  <div class="form-group">
					    {{ form.username }}
					    <div class="login-bottom-text checkbox hidden-sm">
						    <label>
						      <input type="checkbox" id="">
						      Keep me sign in
						    </label>
						  </div>
					  </div>
				</div>	
				<div class="col-sm-5">
					 <div class="form-group">
					    {{ form.password }}
					    <div class="login-bottom-text hidden-sm"> Forgot your password?  </div>
					  </div>
				</div>
				<div class="col-sm-2">
					 <div class="form-group">
					    <input type="submit" value="login" class="btn btn-default btn-header-login">
              <input type="hidden" name="next" value="{{ next }}" />
					  </div>
				</div>
			</div>	
    </form>
		</div>
	</div>
	</div>
</header> 


{% endblock content %}