
{% extends "base.html" %}

{% block content %}

<div class="container" style="width: 100%; padding: 20px;">
    <div class="row justify-content-left"
      style="background-color:slategrey; color: white; font-weight: bold;
      padding: 10px; font-size: large;">
      <p>AGREGAR FACTURA</p>
    </div>
  </div>
  <div class="container">
      <a href="{{ url_for('getCompra') }}" class='btn btn-primary btn-block' 
          style="width: 120px; line-height: normal; height:3em;">Ver todos</a>
      <h2>Agregar Factura:</h2>
  </div>
   
  <div class="container">
      <div class="row justify-content-center">
        <div class="card" style="width: 100%;">
          <div class="card-body">

            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ formDetalleCompra.hidden_tag() }}

                <div class="card col-sm-12 col-md-12" style="float: left;">
                    <div class="card-body">
                        <div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ form.correlativo.label }}
                                </span>
                                </div> 
                                {{ form.correlativo(size=20,value=ComprasTodas,disabled=False) }}
                                {% for error in form.correlativo.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div >
                        <div class="col-md-8" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default"
                                style="height: 3em;">
                                    Cliente
                                </span>
                                </div>            
                                <div style="width: auto; min-width: 300px;">
                                    <select class="browser-default custom-select custom-select-lg mb-3" name="cliente_id">
                                        {% for client in clientes %}
                                            <option value="{{ client.id }}">{{ client.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                    
                            </div>
                        </div>
                        <!--div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ form.subtotal.label }}
                                </span>
                                </div>            
                                {{ form.subtotal }} 
                                {% for error in form.subtotal.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div> 
                        <div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ form.igv.label }}
                                </span>
                                </div>            
                                {{ form.igv  }}
                                {% for error in form.igv.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ form.total.label }}
                                </span>
                                </div>            
                                {{ form.total  }}
                                {% for error in form.total.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div-->
                        
                        
                
                    </div>
                </div>
                <!--p>{{NuevaDetalleCompra}}</p-->
                {% if NuevaDetalleComprasTodas>0 %}  
                    <div class="card col-sm-12 col-md-12"  style="float: left;">
                        <div class="card-body">
                            {% for itemDetaC in NuevaDetalleCompra %}  
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th> 
                                        <th>Cantidad</th> 
                                        <th>Precio</th> 
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">{{ itemDetaC.id }}</th>
                                        <td>{{ itemDetaC.producto_id }}</td> 
                                        <td>{{ itemDetaC.cantidad }}</td> 
                                        <td>{{ itemDetaC.precio }}</td> 
                                        <td>{{ itemDetaC.subtotal }}</td>
                                    </tr> 
                                </tbody>
                                </table>
                            {% endfor %} 
                        </div>
                    </div>
                {% endif %} 

                <div class="card col-sm-12 col-md-12"  style="float: left;">
                    <div class="card-body">
                        <div class="col-md-6" style="float: left; height: 3em;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default"
                                    style="height: 3em;">
                                    Productos
                                </span>
                                </div>            
                                <div style="width: 300px;">
                                    <select class="browser-default custom-select custom-select-lg mb-3" name="producto_id">
                                        {% for prod in Productos %}
                                            <option value="{{ prod.id }}">{{ prod.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ formDetalleCompra.cantidad.label }}
                                </span>
                                </div>
                                {{ formDetalleCompra.cantidad(size=7)  }}
                                {% for error in formDetalleCompra.cantidad.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-3" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ formDetalleCompra.precio.label }}
                                </span>
                                </div>
                                {{ formDetalleCompra.precio(size=7)  }}
                                {% for error in formDetalleCompra.precio.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <!--div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ formDetalleCompra.subtotal.label }}
                                </span>
                                </div>            
                                {{ formDetalleCompra.subtotal  }}
                                {% for error in formDetalleCompra.subtotal.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4" style="float: left;">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">
                                    {{ formDetalleCompra.compra_id.label }}
                                </span>
                                </div>            
                                {{ formDetalleCompra.compra_id  }}
                                {% for error in formDetalleCompra.compra_id.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                        </div-->
                    </div>
                </div>
                <div class="card col-sm-12 col-md-12" style="float: left;">
                    <div class="card-body">
                        <h5>{{Texto}}</h5>
                    </div>
                </div>
                
                <div class="card col-sm-12 col-md-12" style="float: left;">
                    <div class="card-body">
                        <input type=submit class='btn btn-success btn-block' 
                        style="width: 120px;" value="GUARDAR">
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
  </div>


{% endblock %}


