
{% extends "base.html" %}

{% block content %}
  <div class="container" style="width: 100%; padding: 20px;">
    <div class="row justify-content-left"
      style="background-color:slategrey; color: white; font-weight: bold;
      padding: 10px; font-size: large;">
      <p>AGREGAR PRODUCTO</p>
    </div>
  </div>
  <div class="container">
      <a href="{{ url_for('getProductos') }}" class='btn btn-primary btn-block' 
          style="width: 120px; line-height: normal; height:3em;">Ver todos</a>
      <h2>Agregar Producto:</h2>
  </div>
   
  <div class="container">
      <div class="row justify-content-center">
        
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
            
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">
                            {{ form.nombre.label }}
                          </span>
                        </div>            
                        {{ form.nombre(size=50) }}
                        {% for error in form.nombre.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">
                            {{ form.stock.label }}
                          </span>
                        </div>            
                        {{ form.stock }}
                        {% for error in form.stock.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-default">
                            {{ form.precio.label }}
                          </span>
                        </div>            
                        {{ form.precio }}
                        {% for error in form.precio.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    
                    <div class="input-group mb-3" style="width: 250px;">
                      <select class="browser-default custom-select custom-select-lg mb-3" name="categoria_id">
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <!--p>{{ form.submit() }}</p-->
                    <input type=submit class='btn btn-success btn-block' 
                      style="width: 120px;" value="GUARDAR">

                </form>



            </div>
        </div>
      </div>
  </div>





{% endblock %}

